<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title class="text_2xl text-gray-700 text-center">Budget</title>
</head>

<body>
  <div class="container">
    <!-- flask flush message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes text-center">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock content %}
  </div>
</body>

</html>